# 华为云 npm 与 Electron 相关镜像（国内网络下更稳定）
registry=https://repo.huaweicloud.com/repository/npm/
electron_mirror=https://mirrors.huaweicloud.com/electron/
electron_builder_binaries_mirror=https://mirrors.huaweicloud.com/electron-builder-binaries/
